<!DOCTYPE html>
<html>
  <head>
    <%- include common/head.ejs %>
  </head>
  <body>
    <%- include common/infoTop.ejs %>
    <%- include chat/chatCtx.ejs %>
    <%- include chat/chatCtrl.ejs %>
    <script type="text/javascript" src="/js/room.min.js"></script>
    <%- include common/footerScriptAxios.ejs %>
  </body>
</html>
