<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - NodeJS Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
  <link rel='stylesheet' href='/css/index.min.css' />
</head>
<body>
  <div class="room-list">
    <div class="top-title">
      <span>
        <a class="top-prev" href="/">&lt;</a>
      </span>
      <span>
        <a class="top-next" href="/rooms/add">+</a>
      </span>
      <p><%= title %></p>
    </div>
    <ul class="box-list-wrap">
      <% for(var x = 0; x < room.length; x++){ %>
      <li class="box-list">
        <a href=<%= '/room/' + room[x].name %> class="box-link">
          <div>
            <p class="box-name"><%= room[x].name %></p>
            <p class="box-desc"><%= room[x].desc %></p>
          </div>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <script type="text/javascript" src="/js/mobile.js"></script>
</body>
</html>