<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - NodeJS Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/css/index.min.css' />
  </head>
  <body>
    <div class="top-title">
      <p><%= title %></p>
      <span>
        <a class="top-prev" href="/"><</a>
      </span>
      <span>
        <a class="top-next user-info-mod">√</a>
      </span>
    </div>
    <div class="user-info">
      <div>
        <span>用户</span>
        <input class="input-default" type="text" contenteditable="false" value=<%= user %>>
      </div>
      <div>
        <span>性别</span>
        <input class="input-default" type="text" value=<%= gender %>>
      </div>
      <div>
        <span>图片</span>
        <input class="input-default" type="text" value=<%= img %>>
      </div>
      <div>
        <span>城市</span>
        <input class="input-default" type="text" value=<%= city %>>
      </div>
      <div>
        <span>爱好</span>
        <input class="input-default" type="text" value=<%= hobbies %>>
      </div>
    </div>
    <script type="text/javascript" src="/js/mobile.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  </body>
</html>