<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - NodeJS Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <link rel='stylesheet' href='/css/index.min.css' />
  </head>
  <body>
    <div class="top-title">
      <p><%= title %></p>
      <span>
        <a class="top-prev" href=<%= '/user/' + user %>>&lt;</a>
      </span>
      <span>
        <a class="top-next user-info-mod">√</a>
      </span>
    </div>
    <div class="user-info-wrap">
      <div class="user-info-img-wrap">
        <div>
          <img class="user-info-img" src=<%= img %>>
        </div>
        <div>
          <input placeholder="用户" class="input-default" type="text" disabled="disabled" value=<%= user %>>
        </div>
        <div>
          <input placeholder="性别" class="input-default info-gender" type="text" value=<%= gender %>>
        </div>
        <div>
          <input placeholder="城市" class="input-default info-city" type="text" value=<%= city %>>
        </div>
        <div>
          <input placeholder="爱好" class="input-default info-hobbies" type="text" value=<%= hobbies %>>
        </div>
        <div>
          <input placeholder="图片" class="input-default info-img" type="text" value=<%= img %>>
        </div>
        <span class="info-tip"></span>
      </div>
      </div>
    <script type="text/javascript" src="/js/mobile.js"></script>
    <script type="text/javascript">
      (() => {
        const userInfoGender = document.getElementsByClassName('info-gender')[0]
        const userInfoImg = document.getElementsByClassName('info-img')[0]
        const userInfoCity = document.getElementsByClassName('info-city')[0]
        const userInfoHobbies = document.getElementsByClassName('info-hobbies')[0]
        const infoTip = document.getElementsByClassName('info-tip')[0]
        const infoModBtn = document.getElementsByClassName('user-info-mod')[0]
        
        // 页面加载完成的时候，聚焦用户性别输入框
        document.body.onload = () => userInfoGender.focus();

        // 监听信息修改按钮的点击事件
        infoModBtn.addEventListener('click', () => submitModUserInfo(), false)

        // 提交修改后的用户信息的函数
        function submitModUserInfo() {
          axios.put('/api/user/info',{
            gender: userInfoGender.value,
            img: userInfoImg.value,
            city: userInfoCity.value,
            hobbies: userInfoHobbies.value
          }).then((res) => {
              // 成功则跳转到首页
              if (res.data.msgCode === 200) {
                document.location = '/'
              }
              // 否则显示返回的提示信息
              else {
                infoTip.innerText = res.data.msgCtx
              }
              // 捕获到错误则进行提示
            }).catch((err) => infoTip.innerText = err)
        }
      })()
    </script>
    <script type="text/javascript" src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  </body>
</html>