<div class="user-info-wrap animated fadeIn">
  <div class="user-info-img-wrap">
    <div>
      <img class="user-info-img info-img" src=<%= img %>>
    </div>
    <div>
      <input placeholder="用户" class="input-default" type="text" disabled="disabled" value=<%= user %>>
    </div>
    <div>
      <input placeholder="性别" class="input-default info-gender" type="text" value=<%= gender %>>
    </div>
    <div>
      <input placeholder="城市" class="input-default info-city" type="text" value=<%= city %>>
    </div>
    <div>
      <input placeholder="爱好" class="input-default info-hobbies" type="text" value=<%= hobbies %>>
    </div>
    <span class="info-tip"></span>
  </div>
</div>