<div class="user-info-wrap animated fadeIn">
  <div class="user-info-img-wrap">
    <img class="user-info-img" src=<%= img %>>
  </div>
  <ul>
    <li class="user-info">用户 <%= user %></li>
    <li class="user-info">性别 <%= gender %></li>
    <li class="user-info">城市 <%= city %></li>
    <li class="user-info">爱好 <%= hobbies === '' ? 未填写 : hobbies %></li>
  </ul>
  <!-- <a href="">注销登陆</a> -->
  <span class="info-tip"></span>
</div>